.card {
  width: 178px;
  height: 209px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  color: gray;
}

.card:hover {
  background-color: #afd6ff;
  cursor: pointer;
}
