.foundList {
  background-color: white;
  margin-top: 42px;
  border-radius: 0 0 15px 15px;
  border: none;
  position: absolute;
  width: 330px;
}

.place {
  padding: 2px 10px;
  font-family: Nunito;
  border-top: 1px solid rgb(219, 219, 219);
}

.place:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
