.sidebar {
  width: 374px;
  height: 654px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #5fa6f1 0% 0% no-repeat padding-box;
  font-family: Nunito;
  border-radius: 15px;
  margin: 50px;
}

.content h2 {
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.content {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.weath {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  width: 100%;
}

.chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-family: Nunito;
}

.chart h4 {
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin-bottom: 6px;
  margin-top: 6px;
}

.weath h1 {
  font-size: 54px;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 40px;
}
