.weatherGrid {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  font-family: Nunito;
}

table td {
  text-align: center;
  width: 178px;
}

.empty {
  background-color: transparent;
  width: 150px;
}

table th {
  text-align: center;
  background-color: white;
  padding: 20px 20px;
  font-weight: 600;
  width: 178px;
}
